/* base styles */
body, a, h1, h2, p, ul, li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
}
/* font styles */
@font-face {
    font-family: 'PJS';
    src: url('fonts/PlusJakartaSans.ttf');
}
@font-face {
    font-family: 'PFD';
    src: url('fonts/PlayfairDisplay.ttf');
}
@font-face {
    font-family: 'PFD-italy';
    src: url('fonts/PlayfairDisplay-Italic.ttf');
}
/* mobile styles */
.wrapper {
    margin: 5% auto;
    padding: 15px;
    max-width: 980px;
}
.header {
    font-family: PJS;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.fa-arrow-rotate-right {
    color: rgba(0, 0, 0, 0.781);
    font-size: 20px;
}
.fa-arrow-rotate-right:hover {
    color: rgb(155, 9, 9);
}
.add {
    color:#0ae927;
    font-weight: bolder;
    cursor: pointer;
}
.add:hover {
    color: #021639;
}
.hidden-list{
    z-index: 1;
    position: absolute;
    right: 5%;
    top: 5%;
    font-family: 'PJS';
    border: 1px solid #021639;
    visibility: hidden;
}
.hidden-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #021639;
    font-size: 10px;
    background-color: #021639;
}
.h-your {
    font-size: large;
    margin: 10px 5px;
    background-color: #021639;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
}
.fa-window-minimize {
    font-size: 13px;
    padding: 10px;
    color: #ddd;
}
.fa-window-minimize:hover {
    color: #FF7A00;
}
.h-balls {
    font-size: 14px;
    padding: 6px 5px;
    cursor: pointer;
    font-weight: 600;
}
.h-balls:hover {
    background-color: #02163944;
     border-bottom: 1px solid #ddd;
}
.fa-ellipsis {
    padding-left: 20px;
    text-align: right;
    color: rgb(121, 119, 119);
}
.fa-ellipsis:hover {
    color: #021639;
}
.dot-action {
    display: none;
    justify-content: center;
    margin: 5px;
}
.btn {
    height: 20px;
    width: 30px;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    border: 1px solid #ddd;
    align-items: center;
    justify-content: center;
}
.btn:active {
    background-color: grey;
}

.display {
    padding: 0px 5px;
    font-weight: 600;
    font-size: 14px;
}
.product-cat{
    font-family: 'PFD';
    color: #021639;
    margin: 25px 0;
    cursor: default;
}
.pro::after {
    content: '\a';
    white-space: pre;
}
.product-add {
    display: flex;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: white;
    max-width: 720px;
    margin: auto;
}
.product-add:hover {
    border-bottom: 3px solid #021639a8;
    transition: 0.2ms;
}
.product-add input[type= text] {
    border: none;
    padding-left: 10px;
    flex-basis: 100px;
    flex-grow: 1;
}
.product-add input[type= text]:focus{
    outline: none;
}
.product-add ::placeholder {
    font-weight: bold;
    font-family: 'PJS';
    font-size: 12px;
}
.fa-arrow-down {
    color: rgba(0, 0, 0, 0.568);
    padding: 2px 10px;
}
.fa-arrow-down:hover {
    transition: 0.2ms;
    color: #021639;
}
.product-info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 20px 0;
    gap: 10px;
}
.balls {
    grid-column: span 4;
    height: 170px;
    position: relative;
}
.balls:hover {
    border: 1px solid #021639;
    transition: 0.3s;
    transform: scale(0.97);
}
.balls h3 {
    font-family: 'PJS';
    font-size: 12px;
    padding-left: 10px;
}
.plus {
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
    padding: 5px;
}
.fa-xmark {
    position: absolute;
    font-size: 16px;
    color: rgb(77, 76, 76);
    top: 5%;
    left: 85%;
    /* visibility: hidden; */
}
.fa-xmark:hover {
    color: rgb(155, 9, 9);
}
.basket {
    position: absolute;
    font-size: 16px;
    color: rgb(77, 76, 76);
    top: 35px;
    left: 90%;
}
.baller:hover ~ .fa-xmark {
    visibility: visible;
}
.one {
    background-color: #ddd;
    background-image: url('pic-folder/green-white-ball.png');
    background-size: contain;
    background-position: 15px 60px;
    background-repeat: no-repeat;
    color: #021639;
}
.two {
    background-color: #021639;
    background-image: url('pic-folder/football-matte.png');
    background-size: contain;
    color: #ddd;
    background-position: 25px 70px;
    background-repeat: no-repeat;
}

.three {
    color: #ddd;
    grid-column: 1/9;
    background-color: #1bbd31;
    background-image: url('pic-folder/basketball.png');
    background-size: cover;
    background-position: 0px 15px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.high {
    background-color: #FF7A00;
    padding: 5px;
    margin: 7px;
    height: 15px;
    font-family: 'PFD';
    font-size: 12px; 
    white-space: nowrap;
}
.four {
    color: #021639;
    background-color: #FF7A00;
    background-image: url('pic-folder/tennisball.png');
    background-position: 10px 40px;
    background-size: 130px;
    background-repeat: no-repeat;
}
.five {
    color: rgb(136, 14, 14);
    background-color: #ddd;
    background-image: url('pic-folder/baseball.png');
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 0px 50px;
}
.compliments {
    font-family: 'PFD-italy';
    font-size: 13px;
    text-align: center;
    color: #021639;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 18px;
    padding: 0px 21px;
    filter: grayscale(1);
    /* border: 1px solid red; */
}
.fa-facebook-messenger{
    
    border-right: 2px solid #ddd; 
}
.fa-facebook-messenger:hover {
    filter: grayscale(0);
    color: #006AFF;
}
.fa-facebook {
   border-right: 2px solid #ddd; 
}
.fa-facebook:hover {
    filter: grayscale(0);
    color: #4267B2;
}
.fa-instagram{
   border-right: 2px solid #ddd; 
}
.fa-instagram:hover {
    filter: grayscale(0);
    color: #fb5b50;

}
.fa-twitter:hover {
    color: #00acee;
    filter: grayscale(0);
}

/* tablet styles */
@media screen and (min-width: 480px) and (max-width: 720px) {
    .fa-arrow-rotate-right {
        font-size: 22px;
    }
    .add {
        font-size: 20px;
    }
    .product-search ::placeholder {
        font-size: 14px;
    }
    .product-cat{
        margin: 30px 0;
        font-size: 40px;
    }
    .pro::after {
        white-space: nowrap;
    }
    .three {
        background-position: 0px -70px;
        height: 160px;
    }
}
/* small laptops styles and desktops */
@media screen and (min-width: 720px) {
    .fa-arrow-rotate-right {
        font-size: 22px;
    }
    .add {
        font-size: 20px;
    }
    .hidden-list{
        right: 14%;
        top: 10%;
        border: 2px solid #021639;
        position: absolute;
        z-index: 1;
    }
    .hidden-head {
        background-color: #021639;
    }
    .h-your {
        font-size: 24px;
        margin: 15px 5px;
        letter-spacing: 1px;
        font-weight: 100;
    }
    .fa-window-minimize {
        font-size: 16px;
        padding: 10px;
        margin: 5px;
        color: #ddd;
    }
    .fa-window-minimize:hover {
        color: #FF7A00;
    }
    .h-balls {
        font-size: 16px;
        text-align: center;
        padding: 10px 5px;
        cursor: pointer;
        font-weight: 600;
    }
    .h-balls:hover {
        background-color: #02163944;
         border-bottom: 1px solid #ddd;
    }
    .product-info {
        /* max-width: 980px; */
        grid-template-columns: repeat(9, 1fr);
        margin: 25px 0;
        gap: 15px;
    }
    .fa-arrow-left-long {
        color: rgba(0, 0, 0, 0.781);
        font-size: 25px;
    }
    .add {
        color:#0ae927;
        font-weight: bolder;
        font-size: 18px;
    }
    .product-cat{
        margin: 30px 0;
        font-size: 70px;
        text-align: center;
    }
    .pro::after {
        white-space: nowrap;
    }
    .product-search ::placeholder {
        font-size: 16px;
    }
    .balls{
        grid-column: span 3;
    }
    .balls h3 {
        font-size: 16px;
        padding-left: 15px;
    }
    .one {
       
        height: 250px;
        background-size: 180px;
        background-position: 25px 70px;
        background-repeat: no-repeat;
        color: #021639;
    }
    .two {
        height: 250px;
        background-size: 220px;
        color: #ddd;
        background-position: 25px 70px;
        background-repeat: no-repeat;
    }
    .three {
        background-size: 220px;
        background-position: 0px 45px;
        background-repeat: no-repeat;
        height: 250px;
    }
    .high {
        background-color: #FF7A00;
        padding: 5px;
        margin: 7px;
        height: 15px;
        font-family: 'PFD';
        font-size: 12px; 
    }
    .four {
        grid-column: span 4;
        background-position: 20px 40px;
        background-size: 160px;
        background-repeat: no-repeat;
        height: 200px;
    }
    .five {
        grid-column: span 5;
        background-size: 150px;
        background-position: 20px 50px;
        height: 200px;
    }
}
