/* base styles */
body, a, h1, h2, p, ul, li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
}
/* font styles */
@font-face {
    font-family: 'PJS';
    src: url('fonts/PlusJakartaSans.ttf');
}
@font-face {
    font-family: 'PFD';
    src: url('fonts/PlayfairDisplay.ttf');
}
@font-face {
    font-family: 'PFD-italy';
    src: url('fonts/PlayfairDisplay-Italic.ttf');
}
/* mobile styles */
.wrapper {
    margin: 5%;
    padding: 5px;
}
.header {
    font-family: PJS;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.fa-arrow-left-long {
    color: rgba(0, 0, 0, 0.781);
    font-size: 15px;
}
.add {
    color:#0ae927;
    font-weight: bolder;
}
.product-cat{
    font-family: 'PFD';
    color: #021639;
    margin: 25px 0;
}
.pro::after {
    content: '\a';
    white-space: pre;
}
.product-search {
    display: flex;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 30px;
}
.product-search input[type= text] {
    border: none;
    padding-left: 10px;
}
.product-search input[type= text]:focus{
    outline: none;
}
.product-search ::placeholder {
    font-weight: bold;
    font-family: 'PJS';
    font-size: 12px;
}
.fa-magnifying-glass {
    color: rgba(0, 0, 0, 0.568);
    padding-right: 10px;
}
.product-info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 20px 0;
    gap: 10px;
}
.balls {
    grid-column: span 4;
    /* border: 1px solid red; */
    height: 170px;
}
.balls h3 {
    font-family: 'PJS';
    font-size: 12px;
    padding-left: 10px;
}
.one {
    background-color: #ddd;
    background-image: url('pic-folder/green-white-ball.png');
    background-size: contain;
    background-position: 15px 60px;
    background-repeat: no-repeat;
    color: #021639;
}
.two {
    background-color: #021639;
    background-image: url('pic-folder/football-matte.png');
    background-size: contain;
    color: #ddd;
    background-position: 25px 80px;
    background-repeat: no-repeat;
}
.three {
    color: #ddd;
    grid-column: 1/9;
    background-color: #1bbd31;
    background-image: url('pic-folder/basketball.png');
    background-size: cover;
    background-position: 0px 15px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.high {
    background-color: #FF7A00;
    padding: 5px;
    margin: 7px;
    height: 15px;
    font-family: 'PFD';
    font-size: 12px; 
}
.four {
    color: #021639;
    background-color: #FF7A00;
    background-image: url('pic-folder/tennisball.png');
    background-position: 20px 60px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.five {
    color: rgb(136, 14, 14);
    background-color: #ddd;
    background-image: url('pic-folder/baseball.png');
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 0px 50px;
}
.compliments {
    font-family: 'PFD-italy';
    font-size: 13px;
    text-align: center;
    color: #021639;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 18px;
    padding: 0px 21px;
    filter: grayscale(1);
    /* border: 1px solid red; */
}
.fa-facebook-messenger{
    
    border-right: 2px solid #ddd; 
}
.fa-facebook-messenger:hover {
    filter: grayscale(0);
    color: #006AFF;
}
.fa-facebook {
   border-right: 2px solid #ddd; 
}
.fa-facebook:hover {
    filter: grayscale(0);
    color: #4267B2;
}
.fa-instagram{
   border-right: 2px solid #ddd; 
}
.fa-instagram:hover {
    filter: grayscale(0);
    color: #fb5b50;

}
.fa-twitter:hover {
    color: #00acee;
    filter: grayscale(0);
}

/* tablet styles */
@media screen and (min-width: 480px) and (max-width: 720px) {
    .product-cat{
        margin: 30px 0;
    }
    .pro::after {
        white-space: nowrap;
    }
    .three {
        background-position: 0px 10px;
        height: 140px;
        display: flex;
        justify-content: space-between;
    }
}
    





















/* small laptops styles */
/* desktop styles */